APP_HOST=127.0.0.1
APP_PORT=8000
DEBUG=False

SSL=0
SECRET_KEY=None
SSL_CERT=None
SSL_KEY=None

JWT_ALGORITHM=HS256
ACCESS_EXPIRE=60 # minute
REFRESH_EXPIRE=10080 # minute
OTP_EXPIRE=60 # second

POSTGRE_HOST=
POSTGRE_PORT=5432
POSTGRE_USER=
POSTGRE_PASS=
POSTGRE_DB=

EMAIL_SERVER=
EMAIL_SERVER_USER=
EMAIL_SERVER_PASS=

REDIS_HOST=
REDIS_PORT=6379
REDIS_BROKER_DB=0
REDIS_CACHE_DB=1